.navigation {
  background-color: #00796b;
  padding: 10px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  margin: 0 15px;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
