.flood-records-container2 {
  position: relative;
  width: 290px;
  padding: 4px;
  color: white;
  cursor: pointer;
  z-index: 20;
  background-color: rgba(66, 65, 65, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  border: 0.9px solid white;
  transition: background-color 0.3s ease;
}
.flood-records-container2.expanded {
  width: 290px;
  max-height: 350px;
  border: 0.9px solid white;
  background-color: #697e6d9e !important;
}

@media (max-width: 850px) {
  .flood-records-container2 {
    display: none;
  }
}

.tooltip-icon2 {
  font-weight: bold;
  color: #ffffffe7;
  text-align: center !important;
}
.tooltip-icon2 {
  display: block;
  text-align: center;
}

.tooltip-title2 h2 {
  font-size: 16px;
  text-align: center !important;
  color: #ffffff;
  line-height: 0.69 !important;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-top: 8px;
}

.tooltip-text3 {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.3 !important;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-top: -18px;
  max-height: 100px !important;
  overflow-y: auto;
  padding-right: 8px;
}

.glof-button-wrapper2 {
  display: flex;
  justify-content: center !important;
}

.glof-button3 {
  display: block;
  background-color: #00509e;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 1px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  max-width: 35%;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s;
  text-decoration: none;
  align-items: center;
  margin-top: 5px;
  margin-left: 35%;
}

.glof-button3:hover {
  background-color: #9d0303;
}
