.flood-buttons-container {
  width: var(--shared-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-left: 10px;
  padding-right: 5px;
}

.flood-button {
  flex: 1 1 calc((var(--shared-width) - 20px) / 5);
  max-width: calc((var(--shared-width) - 20px) / 5);
  padding: 8px;
  background-color: #007bffbe;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.flood-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.flood-button.selected {
  background-color: var(--selected-color);
  color: white;
}
