@import "mapbox-gl/dist/mapbox-gl.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* Base Styles */
body {
  margin: 0;
  font-family:
    "Open Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#map {
  overflow: hidden;
}

.floodlevels-page footer {
  display: none !important;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Variables */
:root {
  --shared-width: 300px;
}

#controls {
  position: absolute;
  top: 120px !important;
  left: 15px;
  z-index: 1;
}

.mapboxgl-popup,
.mapboxgl-popup * {
  z-index: 10001; /* beat the overlay */
}

.mapboxgl-popup {
  max-width: 250px;
  font-family: sans-serif;
  z-index: 90 !important;
  height: auto !important;
}

.mapboxgl-popup-content {
  overflow: hidden;
  border-radius: 8px;
  background: rgba(59, 59, 59, 0.6);
  backdrop-filter: blur(3px);
  color: white;
  padding: 12px;
  z-index: 4;
  height: auto !important;
}

.mapboxgl-popup-content h4 {
  margin: 0 0 6px;
  font-size: 1.1rem;
  font-weight: 600;
}

.mapboxgl-popup-content p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.1;
  white-space: normal;
}

.mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
}

.mapboxgl-popup-close-button {
  color: white;
  font-size: 1.5rem;
  line-height: 1;
}

.mapboxgl-popup-close-button:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

header h1 {
  font-size: clamp(16px, 6vw, 36px);
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.level-card {
  position: relative;
  margin: -10px 0 5px -1px !important;
  padding: 1.5px !important;
  width: 297px;
  color: white;
  z-index: 10;
  background: rgba(105, 104, 104, 0.343);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  margin-top: -15px !important;
}

.level-card p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 8px;
  color: #ffffff;
  text-align: center;
  line-height: 12.5px;
}

@media (max-width: 851px) {
  .level-card {
    display: none !important;
  }
}

@media (min-width: 851px) {
  .level-card {
    display: block !important;
  }
}

.mapboxgl-popup-tip {
  display: none;
}

.usgs-marker {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 51, 255) !important;
  border: 2px solid white;
  border-radius: 90%;
  cursor: pointer;
}

.usgs-marker:hover {
  transform: scale(1.2);
  background-color: rgb(28, 80, 159) !important;
}

.menu-toggle-button,
.style-toggle-button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  color: white;
  position: absolute;
  z-index: 2;
}

.menu-toggle-button {
  bottom: 20px;
  left: 25px;
  background-color: #007bff;
}

.menu-toggle-button:hover {
  background-color: #0056b3;
}

.style-toggle-button {
  background-color: #28a745;
}

.style-toggle-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.help-marker-container {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
}

.help-marker {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.tooltip {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  width: 180px;
  white-space: nowrap;
  display: none;
}

.help-marker:hover + .tooltip {
  display: block;
}

.hesco-toggle-button {
  color: rgb(255, 255, 255);
  font-size: 15px !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 299px;
  padding: 10px;
  display: block;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: -4px;
  margin-left: -1px !important;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  border: 0.9px solid white;
  position: relative;
}

.hesco-toggle-button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -10%;
  left: 150%;
  transform: translateX(-50%) translateY(5px);
  background: rgba(0, 0, 0, 0.663) !important;
  color: #ffffff !important;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 6px;
  width: max-content;
  max-width: 260px;
  text-align: center;
  line-height: 1.3;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.hesco-toggle-button::before {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 98.5%;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.627) transparent transparent transparent;
  opacity: 0;
  rotate: 90deg;
}

.hesco-toggle-button:hover::after,
.hesco-toggle-button:hover::before {
  opacity: 1;
}

.hesco-toggle-button:disabled:hover::after,
.hesco-toggle-button:disabled:hover::before {
  opacity: 1;
}

.hesco-off {
  background-color: rgba(66, 65, 65, 0.6);
  backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.934);
  border: 0.9px solid rgba(255, 255, 255, 0.868);
}

.hesco-on {
  background-color: #28a746db !important;
}

.hesco-off:hover {
  background-color: #c1eeca9e !important;
  color: rgb(255, 255, 255) !important;
}

.hesco-on:hover {
  background-color: #218838 !important;
}

@media (max-width: 850px) {
  .hesco-toggle-button {
    display: none !important;
  }
}

@media (min-width: 850px) {
  .hesco-toggle-button {
    display: block;
  }
}

@media (max-width: 850px) {
  #controls {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    z-index: 1000;
  }

  .menu-toggle-button {
    display: block !important;
    bottom: 10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    max-width: 150px !important;
    text-align: center !important;
  }

  .hesco-toggle-button {
    display: none;
  }
  .level-card {
    position: relative;
    width: 100%;
    margin-top: -20px !important;
  }

  .level-card p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
  }
}

@media (min-width: 769px) {
  .menu-toggle-button {
    display: none !important;
  }
}

@media (max-width: 300px) {
  :root {
    --shared-width: 100%;
  }

  .level-card {
    max-width: 300px;
  }

  .flood-button {
    width: 100%;
  }

  .flood-button {
    font-weight: bold;
    margin: 5px 0;
  }
}

.map-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .spinner {
    width: 32px;
    height: 32px;
    border-width: 4px;
  }

  .loading-text {
    font-size: 0.9rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1056px) {
  #controls {
    position: absolute;
    top: 165px !important;
    left: 15px;
    z-index: 1;
  }
}

@media (max-width: 922px) {
  #controls {
    position: absolute;
    left: 15px;
    z-index: 1;
  }
}

@media (max-width: 667px) {
  #controls {
    position: absolute;
    top: 165px !important;
    left: 15px;
    z-index: 1;
  }
}

@media (max-width: 374px) {
  #controls {
    display: none !important;
  }
}

.hesco-toggle-button-mobile {
  position: absolute;
  bottom: 73px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(61, 61, 61, 0.6);
  backdrop-filter: blur(3px);
  border: 0.9px solid white;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 55%;
  max-width: 400px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 5;
}

@media (min-width: 850px) {
  .hesco-toggle-button-mobile {
    display: none !important;
  }
}

@media (max-width: 361px) {
  .hesco-toggle-button-mobile {
    position: absolute;
  }
}
