
.flood-table-container {
  width: 99.99%;
  max-width: 1800px;
  margin: 40px auto;
  padding: 0 20px;
  overflow-x: auto;
  background: transparent;
  contain: layout;
}

.flood-table-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  color: rgb(0, 0, 0);
}

.flood-table-subtitle {
  text-align: left;
  font-size: 16px;
  color: #154f89;
  margin-top: 1px;
  margin-bottom: 1px;
}

.flood-table {
  width: 97%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(242, 243, 248);
}


.flood-table th {
  background: rgb(221, 233, 249);
  text-align: left;
  padding: 14px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
  top: 0;
  z-index: 1;
}

.flood-table th:hover {
  background-color: rgb(200, 220, 245);
}


.flood-table td {
  padding: 14px 18px;
  font-size: 14px;
  color: #111;
  border-top: 1px solid #e5e7eb;
  vertical-align: top;
  transition: background 0.3s;
}


.flood-table tbody tr:nth-child(even) {
  background: #ffffff;
}


.preview-row {
  opacity: 0.1;
}

.expand-button {
  margin: 10px auto;
  display: block;
  padding: 8px 12px;
  font-size: 13px;
  background-color: #154f89;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-weight: bold;
}

.expand-button:hover {
  background-color: #123d6f;
}

.flood-table-scroll {
  overflow-x: auto;
}

.flood-table td {
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 900px) {
  .flood-table-container {
    overflow-x: auto; 
  }

  .flood-table {
    font-size: 12px;
    min-width: 100%;
    table-layout: auto;
  }

  .flood-table th,
  .flood-table td {
    padding: 10px;
    font-size: 12px;
  }

  .expand-button {
    font-size: 14px;
    padding: 6px 10px;
  }
}

@media (max-width: 600px) {
  .flood-table-container {
    padding: 0; 
    width: 97%;
    overflow-x: auto; 
  }

  .flood-table {
    font-size: 12px;
    width: 100%;
  }

  .flood-table th,
  .flood-table td {
    padding: 6px;
    font-size: 11px;
  }

  .expand-button {
    font-size: 13px;
    padding: 5px 8px;
  }

  .flood-table-title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -5px;
  color: rgb(0, 0, 0);
}
}