.flood-graph-container {
  width: 99.99%;
  max-width: 1800px;
  margin: 40px auto;
  padding: 0 20px;
  overflow-x: auto;
  background: transparent;
  contain: layout;
  margin-top: -30px;
}

.scatter-chart-wrapper {
  width: 100%;
  transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.scatter-chart-wrapper.shift-left {
  width: 80%;
  margin-right: auto;
}

.flood-graph-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  color: rgb(0, 0, 0);
}

.flood-graph-subtitle {
  text-align: left;
  font-size: 16px;
  color: #154f89;
  margin-top: 1px;
  margin-bottom: 1px;
}

.event-info-card {
  width: 20%;
  background: #f4f4f4;
  border-right: 5px solid #2563eb;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  min-width: 200px;
  max-width: 300px;
  max-height: 320px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.event-title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.event-info-card:hover {
  background-color: var(--hover-color, #fea8a81a);
}

.flood-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 15px;
  font-size: 13px;
  color: #111827;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color, .legend-outline {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.legend-outline {
  border: 2px solid;
  background-color: transparent;
}

@media (max-width: 900px) {
  .flood-graph-container {
    flex-direction: column;
    align-items: center;
  }

  .scatter-chart-wrapper.shift-left {
    width: 100%;
    margin: 0;
  }

  .event-info-card {
    width: 90%;
    margin-top: 10px;
    border-right: none;
    border-radius: 8px;
  }
}

@media (max-width: 600px) {
  .event-info-card { width: 100%; font-size: 13px; }
}

@media (max-width: 600px) {
  .flood-graph-container {
    padding: 0; 
    width: 97%;
    overflow-x: auto; 
  }

  .flood-graph{
    font-size: 12px;
    width: 100%;
  }

  .flood-graph th,
  .flood-graph td {
    padding: 6px;
    font-size: 11px;
  }

  .flood-graph-title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -5px;
  color: rgb(0, 0, 0);
}
}

.glof-mapbox-popup.mapboxgl-popup {
  max-width: 250px;
  z-index: 90 !important;
  height: auto !important;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  pointer-events: none;
  position: absolute; 
  transform: translate(-80%, -260%); 
}

.glof-mapbox-popup .mapboxgl-popup-content {
  overflow: hidden;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  color: white;
  padding: 12px;
  z-index: 4;
  height: auto !important;
}

.glof-mapbox-popup .mapboxgl-popup-content h4 {
  margin: 0 0 6px;
  font-size: 1.1rem;
  font-weight: 600;
}

.glof-mapbox-popup .mapboxgl-popup-content p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.1;
  white-space: normal;
}

.glof-mapbox-popup .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
  margin-top: -1px !important;
}

.glof-mapbox-popup .mapboxgl-popup-close-button {
  display: none; 
}

.glof-mapbox-popup--hover {
  pointer-events: none;
}

.glof-mapbox-popup--locked {
  pointer-events: auto;
}
