.flood-records-container {
  position: absolute;
  top: 116px;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 10px 8px;
  background: rgba(80, 79, 79, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 12px;
  transition: width 0.3s ease;
  width: 60px;
  overflow: visible;
  z-index: 20;
}

@media (max-width: 1059px) {
  .flood-records-container {
    top: 110px !important;
  }
}

.flood-records-container.expanded {
  width: 163px;
}

.flood-records-title {
  display: inline-block;
  background: none;
  border: none;
  color: #fff;
  padding: 6px 7px;
  font-size: 0.96rem;
  border-radius: 6px;
  line-height: 1rem;
  font-weight: bold !important;
  cursor: pointer;
  margin-top: 4px;
  text-decoration: none;
  text-align: center;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}

.flood-records-title {
  position: relative;
}

.flood-events-tooltip {
  position: absolute;
  top: 159%;
  left: 73%;
  transform: translateX(-50%);
  background: rgba(20, 20, 20, 0.79);
  color: #fff;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.3;
  width: 163px;
  text-align: center;
  visibility: hidden;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: 25;
}

.flood-events-tooltip::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7.6px;
  border-style: solid;
  border-color: transparent transparent rgba(20, 20, 20, 0.657);
}

.flood-records-title:hover .flood-events-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(3px);
}

.flood-records-container:hover .flood-records-title {
  background: rgba(35, 123, 207, 0.8);
}

.flood-records-container:hover .flood-records-title:hover {
  background: rgba(50, 150, 255, 0.9);
}

.flood-records-row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 0;
}

.flood-text-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flood-pill {
  width: 58px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition:
    width 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  opacity: 0.89;
}

.flood-records-container.expanded .flood-pill {
  width: 110px;
}

.flood-pill:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.flood-label {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
}

.default-label {
  opacity: 1;
  transform: translateX(0);
}

.hover-label {
  opacity: 0;
}

.flood-pill:hover .default-label {
  opacity: 0;
}

.flood-pill:hover .hover-label {
  opacity: 1;
}

.flood-label strong {
  font-weight: 700;
}

.flood-unit {
  font-weight: 400;
  margin-left: 2px;
  opacity: 1;
}

.flood-count {
  font-weight: 550;
  opacity: 1;
  font-size: 14px;
}

.record-marker {
  position: absolute;
  left: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  transform: translateY(50%);
  opacity: 0;
}

.flood-records-container.expanded .record-marker {
  opacity: 1;
}

.record-line {
  width: 14px;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    white 0,
    white 10px,
    transparent 3px,
    transparent 6px
  );
  opacity: 1;
  z-index: 25;
}

.record-year {
  color: #fff;
  font-size: 14.5px !important;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .flood-records-container {
    right: 10px;
    top: 90px;
    width: 50px;
  }

  .flood-records-container.expanded {
    width: 150px;
  }

  .flood-pill {
    height: 18px;
    width: 36px;
  }

  .flood-records-container.expanded .flood-pill {
    width: 90px;
  }

  .flood-label {
    font-size: 11px;
  }

  .record-year {
    font-size: 11px;
  }
}

.flood-tooltip {
  position: absolute;
  top: 100%;
  left: 3%;
  background: rgba(20, 20, 20, 0.657);
  color: #ffffff;
  padding: 1px 5px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: 10;
  font-weight: 600;
}

.flood-tooltip::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 23px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(20, 20, 20, 0.657) transparent;
}

.record-marker:hover .flood-tooltip {
  opacity: 1;
}

@media (max-width: 850px) {
  .flood-records-container {
    display: none;
  }
}
