.map-wrapper-3 {
  position: relative;
  width: 100% !important;
  height: 110px;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
}

.map-container-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 80% !important;
  border-radius: 6px; /* match wrapper */
}
/* Floating Data Box */
.map-wrapper-3 .data-box2 {
  position: relative;
  top: 235px !important;
  left: 5px;
  max-width: 70px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #f9fafb;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  z-index: 2;
}

.map-wrapper-3 .data-box2 p {
  margin: 0.5px 0;
  font-size: 0.8rem;
  font-weight: 900;
}

.map-wrapper3 {
  position: relative;
  width: 84%;
  height: 600px; /* desktop default */
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  margin-top: -10px;
}

.map-container3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

/* Floating Data Box */
.data-box2 {
  position: absolute;
  bottom: 10px !important;
  padding: 3% !important;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #f9fafb;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  max-width: 320px;
  line-height: 1;
  z-index: 2;
}

.data-box2 h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.data-box2 p {
  font-size: 0.9rem;
}

/* ---------------------------
   Mobile Responsive Styles
----------------------------*/
@media (max-width: 600px) {
  .map-wrapper {
    height: 600px; /* smaller map height on phones */
    border-radius: 4px;
  }

  .data-box {
    visibility: hidden;
  }

  .data-box h4 {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .data-box p {
    font-size: 0.75rem;
    margin: 4px 0;
  }

  .pause-btn {
    bottom: 63px;
    width: 110px;
    font-size: 0.75rem;
    padding: 6px 10px;
  }

  .controls {
    top: 40px;
    left: 10px;
    gap: 6px;
  }

  .controls button {
    padding: 6px 10px;
    font-size: 0.75rem;
  }

  .fullscreen-btn {
    visibility: hidden;
  }
}
