.search-bar-container {
  position: absolute;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background: rgba(61, 61, 61, 0.6);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  border: 0.9px solid white;
  padding: 4px;
  z-index: 5;
  width: 400px;
}

.search-bar-container input {
  flex: 1;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  font-size: 0.85rem;
}

.search-bar-container input::placeholder {
  color: #e8e6e6be;
}

a:focus {
  outline: none;
}

.search-bar-container button {
  background: rgba(35, 123, 207, 0.8);
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 0.85rem;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2px;
}

.search-bar-container button:hover {
  background: rgba(50, 150, 255, 0.9);
}

@media (max-width: 1057px) {
  .search-bar-container {
    top: 110px !important;
  }
}
@media (max-width: 580px) {
  .search-bar-container {
    top: 90px !important;
  }
}

@media (max-width: 360px) {
  .search-bar-container {
    top: 100px !important;
  }
}

.dropdown-suggestions {
  position: absolute;
  top: 39px;
  background: rgba(61, 61, 61, 0.6);
  border-top: none;
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(7px);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  color: white;
  z-index: 10000;
  width: 400px;
}

.dropdown-suggestions li {
  padding: 6px 8px;
  cursor: pointer;
  font-size: 0.85rem;
}

.dropdown-suggestions li:hover {
  background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 800px) {
  .mapboxgl-popup {
    pointer-events: auto;
  }
}

@media (max-width: 800px) {
  .marker {
    width: 15px !important;
    height: 15px !important;
    border: 2px solid white;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 850px) {
  .search-bar-container {
    top: 105px !important;
  }
}

@media (max-width: 768px) {
  .search-bar-container {
    top: 100px !important;
  }

  .dropdown-suggestions {
    position: absolute;
    top: 35px !important;
    max-height: 30px;
    width: 99% !important;
  }
}
@media (max-width: 360px) {
  .dropdown-suggestions {
    position: absolute;
    top: 38.5px;
    left: 0;
    max-height: 100px;
  }
}

@media (max-width: 667px) {
  .search-bar-container {
    top: 100px !important;
    width: 80%;
  }

  .dropdown-suggestions {
    position: absolute;
    top: 38.5px;
    left: 0;
    width: 85%;
  }
}

@media (max-width: 445px) {
  .search-bar-container {
    top: 100px !important;
    width: 90%;
  }

  .dropdown-suggestions {
    position: absolute;
    top: 38.5px;
    left: 0;
    width: 85%;
  }
}

@media (max-width: 443px) {
  .search-bar-container {
    top: 95px !important;
    width: 90%;
  }

  .dropdown-suggestions {
    position: absolute;
    top: 38.5px;
    left: 0;
    width: 85%;
  }
}

@media (max-width: 359px) {
  .search-bar-container {
    display: none;
  }

  .dropdown-suggestions {
    position: absolute;
    top: 38.5px;
    left: 0;
    width: 85%;
  }
}
