/* Ensure image-wrapper is relative for absolute positioning of markers */
.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* Allows it to scale with different screen sizes */
  max-width: 750px;
}

/* Marker buttons stay in place */
.info-marker {
  position: absolute;
  background: #cf0000d9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  transform: translate(-50%, -50%); /* Centers marker accurately */
  -webkit-appearance: none;
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Remove default mobile button styling */
}

/* Marker hover effect */
.info-marker:hover {
  background: #466aea;
}

/* Tooltip Info Box */
.info-box {
  position: absolute;
  background: #fde3e3dc;
  color: #000;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  min-width: 150px;
  max-width: 200px;
  text-align: left;
  border-left: 4px solid #9e0005;
  word-wrap: break-word;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  z-index: 1000;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .info-marker {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
}
