.navigation {
  background-color: #0c5c95;
  padding: 4px 15px;
  position: relative;
}

.navigation .menu-toggle {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 11px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  z-index: 1000;
}

.navigation ul li {
  margin: 0 20px;
  text-align: center;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.navigation ul li a:hover {
  color: #dd1717;
  border-bottom: 2px solid #dd1717;
}

.navigation ul li a.secondary {
  color: #dd1717;
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.navigation ul li a.secondary:hover {
  color: white;
  border-bottom: 2px solid white;
}

@media (max-width: 1057px) {
  .navigation .menu-toggle {
    display: block;
    height: 30px;
  }

  .navigation ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c5c95;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .navigation ul.open {
    display: flex;
  }

  .navigation ul li {
    margin: 10px 0;
  }

  .navigation ul li a {
    font-size: 1em;
  }

  .navigation ul li b {
    font-size: 1em;
  }
  .navigation ul li a.secondary {
    font-size: 1em;
  }
}

@media (max-width: 1057px) {
  .navigation .menu-toggle {
    display: block;
    height: 35px;
    margin-top: -10px !important;
    margin-bottom: -4px !important;
  }

  .navigation ul li a {
    font-size: 0.9em;
  }

  .navigation ul li b {
    font-size: 0.9em;
  }

  .navigation ul li a.secondary {
    font-size: 0.9em;
  }
}
